* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

div.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(#c95d5dc5, #9198e5);
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 70vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    max-width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.center-controls {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-between;
}

.game-container .player {
    width: 50%;
    height: 100%;
    background-color: rgba(187, 187, 187, 0.5);
    flex-direction: column;
    gap: 20px;
    font-size: 50px;
    padding: 120px 0;
    justify-content: space-between;
}

.game-container .player.active {
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    -webkit-transition: background-color 1s;
}

.game-container .player.winner {
    background-color: rgb(30, 30, 30);
}

.game-container .player.winner .player-name {
    color: #fff;
}

.game-container .player.winner .total-score {
    color: #fff;
}

.bor {
    border: 1px solid red;
}

.play-controls {
    flex-direction: column;
    gap: 10px;
}

button {
    border: none;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 7px 20px;
    background-color: rgba(238, 238, 238, 0.495);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

button:hover {
    background-color: rgba(238, 238, 238, 0.8);
}

.dice-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: var(--background-src-img);
    background-size: cover;
    overflow: hidden;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.current-score-container {
    flex-direction: column;
    gap: 20px;
    background-color: #cd0404;
    text-transform: uppercase;
    padding: 40px;
    font-size: 0.6em;
    border-radius: 7px;
    color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.player-info-container {
    flex-direction: column;
    gap: 50px;
    text-transform: uppercase;
}

.player-info-container .total-score {
    font-size: 1.8em;
    font-weight: bolder;
    color: #cd0404;
}

.player-name {
    font-weight: bold;
    font-size: 1.4em;
}

.dice-container.rolling {
    animation: animateRoll 1s linear infinite;
    -webkit-animation: animateRoll 1s linear infinite;
}

@keyframes animateRoll {
    0% {
        background: url("./imgs/dice-1.svg");
    }
    15% {
        background: url("./imgs/dice-2.svg");
    }
    30% {
        background: url("./imgs/dice-3.svg");
    }
    45% {
        background: url("./imgs/dice-4.svg");
    }
    60% {
        background: url("./imgs/dice-5.svg");
    }
    75% {
        background: url("./imgs/dice-6.svg");
    }
    100% {
        background: url("./imgs/dice-1.svg");
    }
}
